@import url('https://fonts.googleapis.com/css?family=Aladin|Alegreya+SC&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    background-color: #FE81AB;
    font-family: 'Alegreya SC', serif;
}
h1, h2, h3{
    font-family: 'Aladin', cursive;
}
.logo {
    margin: 4px 20px;
}

.logo img {
    height: 60px;
    width: auto;
    transition: .3s
}

.logo img:hover {
    transform: scale(1.1);
}

/*--nav bar--*/
navbar {
    z-index: 9999;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    transition: all 0.3s;
    background-color: white;
}

.main-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-nav li {
/*    padding: 5px 20px 5px 20px;*/
    text-align: center;
    line-height: 3;
}

a.active{
    background-color: violet;
}
navbar ul li a {
    margin: 0 auto;
    text-decoration: none;
    font-family: verdana, sans-serif;
    padding: 30px 20px  30px 20px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}

navbar ul li:hover > a {
    text-decoration: none;
    color: black;
}

#js-toggle {
    display: none;
    color: black;
}

@media screen and (max-width : 800px) {
    navbar {
        margin: 0px;
        padding: 0px;
        display: inline;
    }

    .main-nav {
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        display: none;
        text-align: center;
        height: auto;
        background-color: violet;
    }

    .visible {
        display: block;
    }

    .main-nav li {
        border-bottom: 1px solid white;
        width: 100%;
    }

    .main-nav li a {
        font-size: 18px;
        padding: 5px
    }

    #js-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 22px;
    }
    a.active{
        color: red;
    }
}
.mtitle{
    background-color: violet;
    padding: 30px;
    text-align: center;
}
/*slider*/
.carousel {
    margin: 10px auto;

}

.carousel img {
    max-height: 95vh;
    width: 100%
}
.seprator{
    max-width: 600px;
}
.seprator img{
    width: 100%;  
}

/*ends*/
.container {
    margin: 40px auto;
    padding: 10px;
}

/*about starts*/
.title {
    text-align: center;
    padding: 20px;
}

.image-ab {
    max-width: 500px;
}

.image-ab img {
    height: 240px;
}

.ab-text {
    font-size: 18px;
    text-align: justify;
}

.ex {
    font-size: 22px;
    font-weight: bold;
}
.abs{
    margin: 0 auto;
     border:2px solid black;
}
.nu{
    padding: 10px;
   
    border-collapse: collapse;
}
.num {
    font-size: 24px;
    font-weight: bold;
}

.value {
    font-size: 22px;
    letter-spacing: 4px;
}
.team-t{
    font-weight: bold;
    margin: 30px auto;
    background-color: plum;
    box-shadow: inset 0 0 20px purple;
    padding: 14px 0px;
}
.team{
    margin: 0 auto;
    text-align: center;
}
.mem{
    margin: 10px auto;
    padding: 6px 0px;
    transition: .5s;
    max-width: 300px;
}
.mem:hover{
    transform: scale(1.1);
    box-shadow: inset 0 0 20px plum;
    
}
.timg{
    height: 215px;
    text-align: center;  
}
.timg img{
    height: 100%;
    border-radius: 50%;
}
.tname,tinfo{
    padding: 10px 2px;
}
.tname{
    font-size: 20px;
    font-weight: bold;
}   
/*about ends*/

/*services*/
.service-cnt {
    margin: 40px auto;
    padding: 15px;
}

.item {
    margin: 0 auto;
    display: inline-block;
    height: auto;
    max-width: 300px;
    text-align: center;
}

.item-img {
    padding: 10px;
    margin: 5px;
}

.item-img img {
    height: 140px;
    width: 100%
}

.item-text {
    font-size: 16px;
    margin: 10px;
}

.ser {
    margin: 7px auto;
    font-size: 16px;
    font-weight: bold;
}

.shope{
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    max-width: 300px;
    margin: 20px auto;
    border: 1px solid white;
    box-shadow: 4px 5px white;
}
.itemname{
    margin: 20px auto;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}
.shopex img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
}
/*services end*/


.wrapper{
    color: white;
    margin: 40px auto;
    width: 100%;
    height: 40vh;
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*menu*/
.menu-opt{
    margin:  auto;
    width: 100%;
    text-align: center;
    font-style: italic;
    background-color: plum;
    padding: 12px;
    box-shadow: inset 0 0 20px purple;
}
.m-img{
    height: 200px;
    width: 220px;
    margin: 10px;
    border: 1px solid black;
    
}
.menu:hover{
 transform: scale(1.1);
    box-shadow: inset 0 0 20px grey;
    
}
.m-img img{
    height: 100%;
    width: 100%;
}
.cake{
    padding: 8px 0px 8px 0px;
    font-size: 18px;
    font-weight: bold;
}

/*menu ends*/



/*contact us*/
#contact .text{
    margin-bottom: 70px;
}
.contact-form{
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
}
.contact-image{
    position: absolute;
    top: -58px;
    left: 43%;
    margin: 0 auto;
    height: 140px;
    width: 140px;
    background-color: white;
    border: 2px solid red;
    border-radius: 50%;
    transform: translate(-50% -50%);
}

@media screen and (max-width:700px){
    .contact-image{
        left: 32%
    }
}
.contact-image img{
    height: 80px;
}
form{   
    margin:100px 30px 60px 30px;
}
form input,textarea{
    margin: 0 auto;
    max-width: 500px;
}
label{
    margin: 0 auto;
    max-width: 500px;
}
.sb{
    background-color: purple;
}
.text{
    font-size: 20px;
}
button a{
 font-family: sans-serif;
} 
/*ends*/




/*footer*/
footer {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    border-top: 1px solid white;
    color: white;
    line-height: 30px;
}

.foot,
.map,
.quick-links {
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
}
.map iframe{
    max-width: 400px;
}
.name {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    text-align: left;
    color: white;
}

.address {
    text-align: left;
    margin: 8px auto;
}

.quick-links ul {
    list-style-type: none;
    text-align: center;
    margin: 8px auto;
}

.quick-links ul li a {
    color: white;
}

.socials {
    display: flex;
    text-align: center;
 
}
.social{
    margin: 5px;
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
}
   
.social a {
    margin: 5px;
    padding: 5px 5px 5px 0px;
    color: white;
}

.copyright {
    text-align: center;
}

/*foot*/

.to-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: coral;
    text-align: center;
}

.to-top a {
    color: white;
    font-size: 22px;
}

.container h2 .order-cake{
    font-size: 18px;
    font-weight: lighter;
}

#login input,text-area{
    max-width: 400px;
    height: 50px;
}

